.filter {
  display: flex;
  margin: 10px;
  justify-content: center;
  align-items: center;
}
.filter li {
  list-style: none;
  background-color: #eee;
  padding: 8px 20px;
  margin: 5px;
  letter-spacing: 1px;
  cursor: pointer;
}
.filter li.active,
.filter li:hover {
  background-color: #03a9f4;
  color: #fff;
}
@media (max-width: 800px) {
  .filter {
    flex-direction: column;
  }
}
